* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: $dark-gray;
    line-height: 1.6;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px; 
}