@use 'variables' as v;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: v.$font-family;
    background-color: v.$white;
    color: v.$gray-dark;
    line-height: 1.6;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.content-spacer {
    height: v.$header-height;

    @media (max-width: v.$breakpoint-md) {
        height: v.$header-height-mobile;
    }
}