@use 'variables' as v;

@media (max-width: v.$breakpoint-xxl) {

}

@media (max-width: v.$breakpoint-lg) {

}

@media (max-width: v.$breakpoint-md) {

}

@media (max-width: v.$breakpoint-sm) {

}

@media (max-width: v.$breakpoint-xs) {

}
